form{
    height: 100%;
    width: 100%;
    background-color: #010001;
    display: flex;
    justify-content: center;
    .form{
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__block{
            margin: 15px 0;
        }
        &__input{
            width: 100%;
            height: 40px;
            border: none;
            border-bottom: 1px solid #5D5C5D;
            background-color: #010001;
            padding-left: 15px;
            color: #fff;
            &::placeholder{
                color: #5D5C5D;
            }
        }
        &__name{
            display: flex;
            flex-direction: column;
        }
        &__firstname{
            display: flex;
            flex-direction: column;
        }
        &__mail{
            display: flex;
            flex-direction: column;
        }
        &__description{
            display: flex;
            flex-direction: column;
        }
        &__submit{
            #submit{
                width: 150px;
                height: 40px;
                border: none;
                background-color: #fff;
                font-weight: 700;
            }
        }
    }
}