form{
    height: 100%;
    width: 100%;
    background-color: #010001;
    display: flex;
    justify-content: center;
    .form{
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__block{
            margin: 15px 0;
        }
        #form__errorMessage{
            font-size: 14px;
            color: #F0F230;
        }
        &__input{
            width: 100%;
            height: 40px;
            border: none;
            border-bottom: 1px solid #5d5c5c;
            background-color: #010001;
            padding-left: 15px;
            color: #fff;
            &::placeholder{
                color: #5D5C5D;
            }
        }
        &__name{
            display: flex;
            flex-direction: column;
        }
        &__firstname{
            display: flex;
            flex-direction: column;
        }
        &__mail{
            display: flex;
            flex-direction: column;
        }
        &__description{
            display: flex;
            flex-direction: column;
            textarea{
                height: 150px;
                resize: none;
            }
        }
        .input__file{
            display: none;
        }
        .input__fileLabel{
            color: #010001;
            background-color: #fff;
            padding: 10px 25px;
            font-weight: 700;
            transition: all 0.2s ease;
            &:hover{
                background-color: #010001;
                border: solid 1px #fff;
                color: #fff;
            }
        }
        #submitbtn{
            width: 150px;
            height: 40px;
            border: none;
            background-color: #fff;
            font-weight: 700;
            transition: all 0.2s ease;
            &:hover{
                background-color: #010001;
                border: solid 1px #fff;
                color: #fff;
            }
        }
    }
    @include desktop{
        width: 50%;
    }
}